[submodule "modules/drive_ros_mavlink_CC2016"]
	path = modules/drive_ros_mavlink_cc2016
	url = https://github.com/tum-phoenix/drive_ros_mavlink_CC2016
[submodule "modules/drive_ros_msgs"]
	path = modules/drive_ros_msgs
	url = https://github.com/tum-phoenix/drive_ros_msgs
[submodule "modules/drive_ros_visual_odometry"]
	path = modules/drive_ros_visual_odometry
	url = https://github.com/tum-phoenix/drive_ros_visual_odometry
[submodule "modules/drive_ros_imu_odo_odometry"]
	path = modules/drive_ros_imu_odo_odometry
	url = https://github.com/tum-phoenix/drive_ros_imu_odo_odometry
[submodule "modules/drive_ros_mavlink_device"]
	path = modules/drive_ros_mavlink_device
	url = https://github.com/tum-phoenix/drive_ros_mavlink_device
[submodule "modules/drive_ros_mavlink_test"]
	path = modules/drive_ros_mavlink_test
	url = https://github.com/tum-phoenix/drive_ros_mavlink_test
