<launch>
        <arg name="output" default="screen"/>

        <!-- type of controller that should be used, options: PID, MPC_DISCRETE -->
        <arg name="controller_type" default="PID"/>

        <!-- track name, options: race_track, Nuerburgring, Silverstone, Spa, Shanghai -->
        <arg name="track" default="Silverstone"/>

        <!-- params -->
        <param name="cycletime" type="double" value="0.1"/>
        <param name="track" value="$(arg track)"/>

        <!-- start environment simulation -->
        <node name="em_stub" pkg="drive_ros_sim_em_stubs" type="em_stub.py" respawn="false" output="$(arg output)"/>

        <!-- start controller -->
        <include file="$(find drive_ros_trajectory_tracking_control)/launch/trajectory_tracking_controller.launch">
                <arg name="controller_type" value="$(arg controller_type)"/>
        </include>

        <!-- start simulator -->
        <include file="$(find drive_ros_sim_vehicle_model)/launch/simulator.launch">
                <arg name="track" value="$(arg track)"/>
        </include>
</launch>