<launch>

    <!-- TOP LEVEL LAUNCH FILE -->

    <!-- vehicle name e.g. cc2017_car -->
    <arg name="vehicle" value="cc2017_car"/>

    <!-- Camera Node -->
    <include file="$(find drive_ros_ximea_importer)/launch/ximea_camera.launch" ns="camera">
        <arg name="vehicle" value="$(arg vehicle)"/>
    </include>

    <!-- Vision Node
    <include file="vision.launch"/>
    -->

    <!-- Vehicle specific -->
    <include file="$(find drive_ros_cc2017_car)/launch/tf_pub.launch" />

</launch>
