<launch>
    
    <!-- vehicle name e.g. cc2017_car -->
    <arg name="vehicle" value="cc2017_car"/>
    
    <!-- Camera Node -->
    <include file="$(find ximea_camera)/launch/ximea_camera.launch" ns="camera" />
     
    <!-- LIDAR Node -->
    <include file="$(find hokuyo_node)/launch/hokuyo_phoenix.launch" ns="lidar" />

    <!--- Mavlink Nodes -->
    <include file="$(find mavlink_phoenix)/launch/mavlink_phoenix.launch" ns="mavlink" />

    <!-- Vehicle specific -->
    <include file="$(arg vehicle).launch">
        <arg name="vehicle" value="$(arg vehicle)" />
    <include/>

</launch>
